{% extends "base.html" %}
{% block navigation %}
  <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#"><h5>MODULES :</h5><span class="sr-only">(current)</span></a>
      </li>
      {% for coll in collections %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for("driver", driver=coll) }}">{{coll}}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
{% endblock navigation %}

{% block main %}
  <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    <div class="container">
      <div class="starter-template">
        <h1 class="text-center">Welcome to HWE Code Coverage Project</h1>
      </div>
        <p class="lead">We can automatically collect the code coverage data and save to MongoDB for each driver. The code coverage data can guide us to design new test cases and/or improve existing test cases. <br><br> Also we can use Smart Launcher to automatically deploy ESXi on a testbed, smartly select test cases set according to a given change set of tested driver, also collect the test result and post to the Tester. </p>
    </div>
  </main>
{% endblock main %}
